<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <header>

    </header>

    <ul>
        <li><a href="webprog?task=1&sub=index">Assignment 1</a></li>
        <li><a href="webprog?task=2">Assignment 2</a></li>
        <li><a href="webprog?task=3&sub=index">Assignment 3</a></li>

        <li><a href="battleship">Battleship</a></li>
        <li><a href="clicker">Clicker</a></li>
    </ul>


    <script>
        let app = Vue.createapp({
            data: function(){
                return {
                    product: 11111,
                }
            },
            
        });
    </script>


</body>
</html>