<!DOCTYPE html>
<html>
<head>
    <script src="https://unpkg.com/vue@3.0.5/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
    <form>
        <input v-model="productform" type="text" id="productforminput" @input="updateproductlist($event)">
    </form>
    <br><br><br><br><br>
    <ul>
        <li v-for="entry in product_list"><a v-bind:href="'/products/' + entry">{{ '{{' }}entry{{ '}}' }}</a></li> <!--Jinja and Vue fucking with each other-->
        <li><a href="/create">Create</a></li>
    </ul>
    </div>


</body>

<script>
    let app = Vue.createApp({
        data: function(){
            return {
                product: 11111,
                product_list: [],
            }
        },
        methods: {
            updateproductlist: async function (e) {

                let url = "/products/update?product=" +this.productform;
                let response = await fetch(url);

                if (response.status == 200) {
                    let result = await response.json()

                    this.product_list = result;
                    
                }
            }
        },

    });
    app.mount("#app");
</script>

</html>