<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <div>
    <form action="/createproduct" id="create_product", method="post">
        <label for="product_id">Produkt ID</label>
        <input type="text" name="product_id"> <br>
        <label for="product_desc">Step by Step How to Erase</label> <br>
        <textarea name="stepbystep" form="create_product" style="width: 250px; height: 300px"></textarea> <br>
        <label for="related">Related article? Separate by pressing Enter!</label> <br>
        <textarea name="related" form="create_product" style="width: 250px; height: 100px"></textarea>
        <button>Submit</button>

    </form>
    <br><br><br><br><br>

    </div>


</body>


</html>